## WEATHER DATA ANALYZER

## Loading Dataset

In [9]:
import numpy as np
import pandas as pd

df = pd.read_csv("weather_data.csv")
print(df.head())

         Date  Temperature  Humidity  Rainfall
0  2023-01-01           22        78         0
1  2023-01-02           24        80         1
2  2023-01-03           21        75         0
3  2023-01-04           25        79         5
4  2023-01-05           26        82         0

## Extracting Time Info

In [10]:
df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].dt.month
df['Year'] = df['Date'].dt.year

## Basic Data

In [15]:
print("Basic Info:\n")
print(df.info())

print("\nStatistics:\n")
print(df.describe())

print("\nMissing Days:\n")
print(df.isnull().sum())

Basic Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         28 non-null     datetime64[ns]
 1   Temperature  28 non-null     int64
 2   Humidity     28 non-null     int64
 3   Rainfall     28 non-null     int64
 4   Month        28 non-null     int32
 5   Year         28 non-null     int32
dtypes: datetime64[ns](1), int32(2), int64(3)
memory usage: 1.2 KB
None

Statistics:

                                Date  Temperature   Humidity   Rainfall  \
count                             28    28.000000  28.000000  28.000000
mean   2023-05-26 15:25:42.857142784    28.571429  74.071429  11.928571
min              2023-01-01 00:00:00    21.000000  60.000000   0.000000
25%              2023-02-22 06:00:00    24.750000  67.500000   0.000000
50%              2023-05-17 00:00:00    28.500000  72.000000   1.500000
75%              2023-09-01 06:00:00    32.250000  80.500000   7.000000
max              2023-12-02 00:00:00    38.000000  89.000000  80.000000
std                              NaN     4.917306   8.755648  22.982970

           Month    Year
count  28.000000    28.0
mean    5.785714  2023.0
min     1.000000  2023.0
25%     2.750000  2023.0
50%     5.500000  2023.0
75%     9.000000  2023.0
max    12.000000  2023.0
std     3.725360     0.0

Missing Days:

Date           0
Temperature    0
Humidity       0
Rainfall       0
Month          0
Year           0
dtype: int64

## Temperature Analysis

In [18]:
max_temperature = df['Temperature'].max()
min_temperature = df['Temperature'].min()

print("Maximum Temperature:",max_temperature)
print("Minimum Temperature:",min_temperature)

print("\nHottest Day:")
print(df[df['Temperature']==max_temperature])

monthly_avg_temperature = df.groupby('Month')['Temperature'].mean()
print("\nMonthly Average Temperature:")
print(monthly_avg_temperature)

Maximum Temperature: 38
Minimum Temperature: 21

Hottest Day:
         Date  Temperature  Humidity  Rainfall  Month  Year
12 2023-05-01           38        60         2      5  2023

Monthly Average Temperature:
Month
1     23.6
2     28.5
3     32.0
4     35.5
5     37.5
6     33.5
7     29.5
8     27.5
9     29.5
10    26.5
11    23.5
12    21.5
Name: Temperature, dtype: float64

## Rainfall Analysis

In [16]:
monthly_rainfall = df.groupby('Month')['Rainfall'].sum()
print("Total Monthly Rainfall:\n")
print(monthly_rainfall)

rainy_days = df[df['Rainfall'] > 0]
print("\nTotal Rainy days:\n",rainy_days)

Total Monthly Rainfall:

Month
1       6
2       9
3       0
4       0
5       6
6      30
7     110
8     150
9      20
10      0
11      1
12      2
Name: Rainfall, dtype: int64

Total Rainy days:
          Date  Temperature  Humidity  Rainfall  Month  Year
1  2023-01-02           24        80         1      1  2023
3  2023-01-04           25        79         5      1  2023
5  2023-02-01           28        85         3      2  2023
6  2023-02-02           29        88         6      2  2023
12 2023-05-01           38        60         2      5  2023
13 2023-05-02           37        62         4      5  2023
14 2023-06-01           34        70        10      6  2023
15 2023-06-02           33        72        20      6  2023
16 2023-07-01           30        85        50      7  2023
17 2023-07-02           29        88        60      7  2023
18 2023-08-01           28        87        70      8  2023
19 2023-08-02           27        89        80      8  2023
20 2023-09-01           29        75        15      9  2023
21 2023-09-02           30        70         5      9  2023
25 2023-11-02           23        64         1     11  2023
26 2023-12-01           22        70         2     12  2023